<!-- USER CONTENT -->
<div class="wrapper">
  <span class="user-content">
    <ng-content></ng-content>

    <ng-container *ngIf="content">
      <ng-container *ngIf="contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="contentText">
        <span [innerText]="contentText"></span>
      </ng-container>
    </ng-container>
  </span>

  <span class="icon ms-1" >
    <mat-icon>arrow_forward</mat-icon>
  </span>
</div>
