:host{
  .card-step {
    border: 1px solid var(--app-secondary-text-color);
    border-radius: 5px;

    .title-container{
      position: relative;
      margin-bottom: 1rem;
      display: block;

      .index{
        font-size: 3rem;
        font-weight: 700;
        color: var(--app-secondary-text-color);
        opacity: 0.3;
      }

      .title {
        color: var(--app-main-text-color);
        font-size: 1.25rem;
        position: absolute;
        left: 0;
        bottom: .25rem;
      }
    }

    .description {
      display: block;
    }
  }
}