<div class="d-flex flex-column">
  <div class="w-100 d-flex pb-2">
    <span class="mx-auto" i18n>Created by <a target="_blank" underlined href="mailto:{{contactEmail}}" >Oleksandr Kirpachov</a>.</span>
  </div>

  <div class="w-100 d-flex pb-2">
    <div class="mx-auto d-flex flex-row align-items-center flex-wrap">
      <!-- <span class="mx-1 text-nowrap"><a underlined routerLink="/privacy">Privacy</a></span>
      <span class="mx-1">-</span> -->
      <span class="mx-1 text-nowrap"><a underlined routerLink="/credits">Credits</a></span>
    </div>
  </div>
</div>
