
<!-- CONTENT -->
<div class="wrapper">
  <app-arrow *ngIf="showArrowBefore" [active]="isActive" ></app-arrow>

  <span class="user-content mx-3">
    <ng-content></ng-content>

    <ng-container *ngIf="content">
      <ng-container *ngIf="contentTemplate">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
      </ng-container>
      <ng-container *ngIf="contentText">
        <span [innerText]="contentText"></span>
      </ng-container>
    </ng-container>
  </span>

  <app-arrow *ngIf="showArrowAfter" [active]="isActive" ></app-arrow>
</div>
