:host {
  border-radius: 50px;
  outline: none;
  border-style: none;
  border: none;
  cursor: pointer;
  background: none;
  color: var(--app-main-text-color);
  font-size: 1.375rem;
  font-weight: 500;

  :active {
    border-style: none;
  }

  div.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    // position: relative;
    padding: 1rem 1.5rem;
  }

  .arrow-container {
    border-radius: 50%;
    border: 1px solid var(--app-secondary-text-color);
    transition: border 5s;
  }

  &.showIcon {
    .arrow-container {
      border: 1px solid var(--app-main-text-color);
    }
  }

  // &.showIcon {
  //   .icon {
  //     max-width: 30px;
  //   }
  // }

  // .icon {
  //   max-width: 0;
  //   transition: max-width 0.5s;
  //   overflow: hidden;
  // }
}
