<tui-loader [overlay]="true" [showLoader]="loading">
  <div class="container w-auto">
    <div class="row">
      <div class="col-12">
        <h1 class="main-text mt-0">
          <ng-container i18n>Projects</ng-container>
        </h1>
        <p i18n>Here you can see some of my projects.</p>
      </div>

      <ng-container *ngIf="!(projects && projects.length > 0) && loading">
        <p i18n>Loading projects, just a moment...</p>
      </ng-container>

      <ng-container *ngFor="let proj of projects$ | async">
        <div class="col col-12 col-sm-6 col-lg-4 col-xl-3 mb-3 d-flex">
          <app-project-card [location]="'projects'" [project]="proj"></app-project-card>
        </div>
      </ng-container>

    </div>
  </div>
</tui-loader>

<router-outlet></router-outlet>
<ng-container></ng-container>
