/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/style/custom-bootstrap.scss";
@import "assets/style/rotations.scss";
@import 'node_modules/swiper/swiper.scss';
@import 'node_modules/swiper/modules/pagination/pagination.scss';
@import 'node_modules/swiper/modules/navigation/navigation.scss';

body {
  background-color: var(--app-background-color);
  color: var(--app-secondary-text-color);
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}


mat-icon, .mat-icon, .material-icons {
  font-family: 'Material Icons';
  display: none;
}

.big-undertitle{
  font-size: 1.8rem;
  font-weight: 500;
}

.width-fit-content{
  width: fit-content;
}

a.classic-link{
  // color: var(--app-main-text-color);
  // text-decoration: none;
  color: var(--app-secondary-text-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover, &:focus, &:active, &.active, &.focus{
    color: var(--app-main-text-color);
  }
}