<!-- <div class="flex-row-reverse flex-md-row"> -->
<div class="container w-auto">
  <div class="row flex-column-reverse flex-md-row">
    <div class="offset-md-1 col col-12 col-md-5">
      <div class="d-flex flex-column">
        <div>
          <h2 class="main-text mb-4">
            Software all'avanguardia per aziende all'avanguardia.
          </h2>
        </div>
        <div>
          <button class="mb-2" mainButtonArrow routerLink="TODO">
            <ng-container i18n>Scopri di più</ng-container>
          </button>
        </div>

        <div>
          <button secondaryButtonArrow>
            <ng-container i18n>Richiedi un preventivo</ng-container>
          </button>
        </div>
      </div>
    </div>
    <div class="col col-12 col-md-5">
      <div class="d-flex flex-column align-items-center">
        <div class="main-img-container">
          <img src="assets/images/home1.jpg">

          <div class="message-container d-none d-md-block">
            <span class="message">
              Oleksandr Kirpachov, 2022
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
