:host{
  .main-img-container{
    position: relative;

    img{
      max-width: 100%;
      height: auto;
    }

    .message-container, img {
      border-radius: 5px;
    }

    .message-container{
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: right;
      background: var(--app-background-color);
      opacity: 0.5;
      padding: .25rem;
      
      .message{
        padding: .25rem;
        opacity: 1;
        // text-align: right;
        color: var(--app-main-text-color);
      }
    }
  }
}