<!-- <div class="flex-row-reverse flex-md-row"> -->

<div class="row flex-column-reverse flex-md-row">
  <div class="offset-md-1 col col-12 col-md-5">
    <div class="d-flex flex-column">
      <div>
        <h1 class="main-text mb-4">
          Software all'avanguardia per aziende all'avanguardia.
        </h1>
      </div>
      <div>
        <button class="mb-2" mainButtonArrow (click)="nextSection.emit()">
          <ng-container i18n>Scopri di più</ng-container>
        </button>
      </div>

      <div>
        <a secondaryButtonArrow routerLink="rfq">
          <ng-container i18n>Richiedi un preventivo</ng-container>
        </a>
      </div>
    </div>
  </div>
  <div class="col col-12 col-md-5">
    <div class="d-flex flex-column align-items-center">
      <div class="main-img-container">
        <img src="assets/images/home1.jpg">

        <div class="message-container d-none d-md-block">
          <span class="message">
            Oleksandr Kirpachov, 2022
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
