<div class="relative inline-flex h-14 w-14 flex-none items-center justify-center p-1">
  <div class="absolute text-gray-200 dark:text-gray-600">
    <svg class="rotate270" width="60" height="60" >
      <circle r="28" cx="30" cy="30" />
      <circle class="main" r="28" cx="30" cy="30" />
    </svg>
  </div>

  <!-- style="transform: none;" -->
  <span >
    <svg class="arrow" width="32" height="32" viewBox="0 0 32 32" fill="none"
      xmlns="http://www.w3.org/2000/svg">

      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M15.101 5.5V23.1094L9.40108 17.4095L8.14807 18.6619L15.9862 26.5L23.852 18.6342L22.5996 17.3817L16.8725 23.1094V5.5H15.101Z"
        fill="currentColor"></path>
    </svg>
  </span>
</div>
